# Android NDK/Studio
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/

# Clangd
.cache

# NDK build output
obj/
libs/
*.so
*.apk
*.ap_ 

# Compiled source
*.o
*.d
*.a
*.out
*.class
*.dex
*.jar
*.pyc
*.pyo
*.pyd

# Log
*.log

# OS generated
Thumbs.db
.DS_Store

# Others
compile_commands.json
